---
import { otherprojects } from "../../data/otherprojects.json";
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
      <p
        class="text-xl lg:col-start-2 leading-relaxed text-secondary"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        Curiosity-driven computer science enthusiast who likes hands-on code approach for every Stack.
        Always up with can-do attitude for every problem; <br>
        loves tech by heart and opinionated on design, 
        likes to read between the lines and code as-well.
       
      </p>


      <div class="mt-6 space-y-2"  data-aos="fade-up"
      data-aos-duration="2000">
        <div class="h-0.5 bg-secondary"></div>
        <h3 class="text-secondary text-base font-medium">
          <span>Recent</span>
          <span class="font-bold">Experiences</span>
        </h3>
        <div class="h-1.5 bg-secondary"></div>
      </div>
      <h3 class="  leading-relaxed text-secondary text-base font-medium"  data-aos="fade-up"
      data-aos-duration="2000">
      <div class="flex w-full py-8">
    
        <span class="italic">iMemori.ai - Senior Software Engineer</span>
        <span class="flex ml-auto"
          >
          Jan 2022 - Aug 2024
          </span
        >
      </div>
      </h3>
      <p
      
        class="text-base lg:col-start-4 leading-relaxed text-secondary"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        I was hired as one of the first core engineers at an AI startup to build an enterprise application that collects institutional memory (structured and unstructured data). The data is securely made inheritable to users and provides various insights to stakeholders. As a part of the Initial product R&D team, I spearheaded the product roadmap to implement a full stack service consisting of an enterprise-grade React Dashboard app, FastApi python application service that collects and stores data into graph databases like ArangoDB and Neo4j, creating various validated secure-access APIs with Pydantic and FastAPI, making sure of concurrency and multi-threading. <br>

        ◼ Part of leading development of a full-stack enterprise platform to collect and manage institutional memory data, integrating both structured and unstructured data sources. <br>
◼ Contributing a React-based analytics dashboard using TypeScript to deliver enterprise-grade UI/UX, incorporating complex visualizations with AMCharts and other JavaScript charting libraries. <br>
◼ Developed microservices using FastAPI, creating secure, scalable APIs with Pydantic to validate data, ensuring concurrency and optimized multi-threaded performance. <br>
◼ Designed and executed data storage solutions using graph databases such as ArangoDB, writing and optimizing complex AQL queries to reduce latency and improve performance for large-scale operations. <br>
◼ Implemented a distributed notification system pipeline leveraging Kafka, AWS SQS, and Azure Service Bus, delivering real-time, context-aware notifications and insights via email and dashboard alerts. <br>
◼ Worked on key data pipelines for data ingestion, graph data handling, data cleanup, and ML-driven keyword extraction, driving both backend and ML model integrations. Advocated for and maintained best practices in Test-Driven Development (TDD) using Pytest, Jest, and Playwright to ensure robust software quality across the stack. <br>
◼ Developed an extensive end-to-end testing framework using Pytest, integrated with Sonarqube to ensure over 90% code coverage, minimize cognitive complexity, and maintain high-quality gates. <br>
◼ Adopted cloud-native technologies, managing services on AWS, Azure, and GCP, with a focus on scalable, secure, and reliable deployments using Docker and Kubernetes, while also contributing to Salesforce API integration for extended enterprise functionalities. <br>
◼ Developed iMemori apps for Microsoft Teams and Outlook Platforms, enabling presence in the Microsoft 365 ecosystem. 
       
      </p>



    
  </div>

</section>
