

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6"
  data-aos="fade-up"
  data-aos-duration="2000">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-xl font-medium">
        <span>Get</span>
        <span class="font-bold">In Touch</span>
      </h3>
      <div class="h-1.5 bg-secondary"></div>
    </div>
    <div class="leading-relaxed text-secondary text-l font-medium mx-auto py-6">
      My inbox is always open. Whether you have a question, want to build something together, or just want to say hi, I'll try my best to get back to you!


      <div class="leading-relaxed flex justify-center py-12">
        <a href="mailto:nalindeepan007@gmail.com" class="group bg-white hover:bg-secondary text-secondary hover:text-white border-2 border-secondary py-2 px-4 rounded inline-flex items-center">


            <svg  class="w-6 h-6 mr-2 fill-secondary group-hover:fill-white" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 256 256"><path d="M224,52H32a4,4,0,0,0-4,4V192a12,12,0,0,0,12,12H216a12,12,0,0,0,12-12V56A4,4,0,0,0,224,52Zm-96,86.57L42.28,60H213.72ZM104.63,128,36,190.91V65.09Zm5.92,5.43L125.3,147a4,4,0,0,0,5.4,0l14.75-13.52L213.72,196H42.28ZM151.37,128,220,65.09V190.91Z"></path></svg>

            
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4"></path>
          </svg>
          <span>Say Hello</span>
        </a>
      </div>
      


    </div>
  </div>
</section>
